html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	font-size: 1em;
	background: #29485c url(../images/bg.jpg) center top no-repeat;
	background-size: 100% 100%;
    zoom: 0.5;
}


.ui {
	width: 602px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.ui h1 {
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
	padding: 20px 0 10px;
	margin: 0;
	color: #fff;
	text-shadow: 0 0 20px #63DBB5, 3px 3px 0 #63DBB5;
}

.ui h1 strong {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bolder;
}

.ui p {
	float: left;
	background: white;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 5px 0 0;
	font-size: 1em;
	line-height: 1;
	width: 177px;
	color: #63DBB5;
}

.ui p#bestCombo {
	float: right;
	margin-right: 0;
}

.ui p span {
	font-weight: bold;
}



#game {
	height: 600px;
	width: 600px;
	background: rgba(255, 255, 255, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.35);
	box-shadow: inset 0 0 30px rgba(47, 187, 86,0.35);
	margin: 0 auto;
	position: relative;
	border-radius: 10px
}

#game .row {
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	-webkit-transform: scale(0.9);
	background-image: url(../images/gradient.png);
	background-size: cover;
	overflow: hidden;
}

#game .row.glow {
	z-index: 99;
	box-shadow: inset 0 0 10px 10px rgba(255,255,255,1);	
}


#game .row.type-1 {
    /*RED*/
	/*background-color: #E81C36;*/
    background-image: url('../images/lovely1.png');
}

#game .row.type-2 {
    /*ORANGE*/
	/*background-color: #FFC300;*/
    background-image: url('../images/lovely2.png');
}


#game .row.type-3 {
    /*BLUE*/
	/*background-color: #2868C7;*/
    background-image: url('../images/lovely3.png');
}


#game .row.type-4 {
    /*green*/
	/*background-color: #25CF6B;*/
    background-image: url('../images/lovely4.png');
}

/*PURPLE*/
#game .row.type-5 {
	background-color: #8F2BB3;
}

/*BLACK*/
#game .row.type-6 {
	background-color: #4A3E4F;
}
